@model EditWorkOrder
<partial name="_ValidationScriptsPartial">

    <div class="workordertitle">
        Edit WorkOder
    </div>
   
    <form class="form" enctype="multipart/form-data" asp-action="EditWO" asp-controller="WorkOrder">
        @if (Model == null)
        {
            <p>No Record Found</p>
        }
        else
        {
            <table class="table_container table">
                <tbody>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label asp-for="PropertyName"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="PropertyName" class="form-control-sm custom-input" disabled>
                                        <span asp-validation-for="PropertyName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Location"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Location" class="form-control-sm custom-input" disabled>
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Area"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Area" class="form-control-sm custom-input" disabled>
                                        <span asp-validation-for="Area" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                @if (Model.Items != null && Model.Items.Any())
                                {
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label asp-for="Item"> </label>
                                        </div>
                                        <div class="col">
                                            <select class="form-control form-control-sm custom-input" asp-for="Item" asp-items="@(new SelectList(Model.Items, "Id", "PropertyName"))">
                                                <option value="">Please select one</option>
                                            </select>
                                            <span asp-validation-for="Item" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (Model.Issues != null && Model.Issues.Any())
                                {
                                    <div class="row top-buffer">
                                        <div class="col-md-3">
                                            <label asp-for="Issue"> </label>
                                        </div>
                                        <div class="col">
                                            <select class="form-control form-control-sm custom-input" asp-for="Issue" asp-items="@(new SelectList(Model.Issues, "Id", "PropertyName"))">
                                                <option>Please select one</option>
                                            </select>
                                            <span asp-validation-for="Issue" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    @*<div class="col-md-3">
                                        <label asp-for="RequestedBy"> </label>
                                    </div>
                                    <div class="col">
                                        <select class="form-control form-control-sm custom-input" asp-for="RequestedById" asp-items="@(new SelectList(Model.RequestedBy, "Id", "PropertyName"))">
                                            <option value="">Please select one</option>
                                        </select>
                                        <span asp-validation-for="RequestedById" class="text-danger"></span>
                                    </div>*@
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Description"> </label>
                                    </div>
                                    <div class="col">
                                        <textarea class="form-control custom-input" asp-for="Description" placeholder="additional Details"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                @*<div class="row">
                                    <div class="col-md-3">
                                        <label asp-for="Date "> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for='Date' value="" type="date" class="form-control-sm custom-input">
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Assign To </label>
                                    </div>

                                    <div class="col">
                                        @if (Model.Departments != null && Model.Departments.Any())
                                        {
                                            <select class="form-control form-control-sm custom-input" asp-for="Department" asp-items="@(new SelectList(Model.Departments, "Id", "PropertyName"))">
                                                <option value="">Department</option>
                                            </select>
                                            <span asp-validation-for="Department" class="text-danger"></span>
                                        }
                                    </div>
                                    <div class="col">
                                        <select class="form-control form-control-sm custom-input" asp-for="Section" asp-items="@(new SelectList(Model.Sections, "Id", "PropertyName"));">
                                            <option value="">Section</option>
                                        </select>
                                        <span asp-validation-for="Section" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="File">Attachment</label>
                                    </div>
                                    <div class="col">
                                        <div class="cont">
                                            <label class="browsebutton">Browse File</label>
                                            <input asp-for="File" accept="image/*,.pdf,.xls,.xlx,.doc,.docx" class="form-control-sm custom-input Photo">
                                        </div>
                                        <span class="text-danger">supported formats: .jpg, .jpeg, .png, .pdf, .xls, .xlx, .doc, .docx </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <input asp-for="Id" hidden>
            <button type="submit" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-sm btn-outline-primary submit">Update</button>
            @*passing data to controller*@
        }
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script>
        $('#Property').change(function () {
            console.log($(this).val());
            $.get('@Url.Action("GetAreaLocation","WorkOrder")' + "?id=" + $(this).val(),
                function (data) {
                    console.log(data);
                    if (data != null || data != undefined) {
                        $('#Area').val(data.area);
                        $('#Location').val(data.location);
                    }
                });
        });
         $('#Department').change(function () {
            console.log($(this).val());
            $.get('@Url.Action("GetSection","WorkOrder")' + "?id=" + $(this).val(),
                function (data) {
                    console.log(data);
                    if (data != null || data != undefined) {
                        for (var i = 0; i < data.length; i++) {
                            $("#Section").html("<option value=''>Section</option>")
                            $("#Section").append('<option value=' + data[i].id + '>' + data[i].propertyName + '</option>')
                        }
                    }
                });
         });
    </script>