@{var ResponseModel = ViewBag.Response as Pagination<List<WorkOrderAssigned>>; }
  
    <div class="workordertitle">
        Completed Work Orders
      
    </div>

    

   


    @if (ResponseModel != null && ResponseModel.Payload != null && ResponseModel.Payload.Any())
    {
        <table class="table table-striped wordorderdetail table_container table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        WO#
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Assigned To
                    </th>
                    <th>
                        Property
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ResponseModel.Payload)
                {
                    <tr>
                        <td>
                            <span><strong class="@if (item.ParentId!=null) {<text>green</text>} else {<text>orange</text>}">@item.Id</strong></span>
                        </td>

                        <td><span class="value" style="min-width:100px;text-align:center">@item.Description</span></td>
                        <td><span class="text-success"><strong>@item.AssignedTo</strong></span></td>
                        <td>
                            <span class="text-dark">
                                @if (item.Property != null)
                                {@item.Property.PropertyName}
                            </span>
                        </td>
                        <td>@item.DueDate</td>
                        <td style="width:180px;">
                            <div class="form-inline">
                                @{

                                    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
                                    keyValuePairs.Add("id", item.Id + "");

                                    <auth-link bclass="btn btn-sm btn-primary mr-1" feature=@MenuEnum.Edit_WO routedata=@keyValuePairs action="EditWOView" controller="WorkOrder" content='<i class="fa fa-pencil-alt"></i>&nbsp;Edit'></auth-link>

                                    <auth-link bclass="btn btn-sm btn-info" feature=@MenuEnum.GetWO_Detail routedata=@keyValuePairs action="GetWODetail" controller="WorkOrder" content='<i class="fa fa-info"></i>&nbsp;Detail'></auth-link>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <hr />
        <nav>
            <ul class="pagination">
                @{ int current = 0;}
                <li class="page-item @if (ResponseModel.CurrentPage == 0)
                    {<text>disabled</text> }">
                    @Html.ActionLink("Prev", "Index", "WorkOrder", "", "", "", new { requestedPage = current - 1, matchString = ViewBag.searchstring, status = ViewBag.status, enddate = ViewBag.enddate }, new { @class = "page-link" })
                </li>

                @for (int i = 0; i < ResponseModel.PageCount; i++)
                {

                    if (ResponseModel.CurrentPage == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="Index">@(i + 1) <span class="sr-only">(current)</span></a>
                        </li>
                        current = i;
                    }
                    else
                    {
                        <li class="page-item">
                          
                            @Html.ActionLink(i + 1 + "", "Index", "WorkOrder", "", "", "", new {pageNumber=i }, new { @class = "page-link" })
                        </li>
                    }
                }
                
                <li class="page-item @if (ResponseModel.CurrentPage + 1 == ResponseModel.PageCount)
                    {<text>disabled</text> }">
                    @Html.ActionLink("Next", "Index", "WorkOrder", "", "", "", new {pageNumber=current + 1 }, new { @class = "page-link" })
                </li>
            </ul>
        </nav>
    }
    else
    {
        <span>No Record found</span>
    }

@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

    <script>
        alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
    </script>
}

<script>

    $('.filter_check').click(function () {
        if ($(this).prop("checked") == true) {
            $('.wofilter').show();
        }
    });

    $('.closefilter').click(function () {
        $('.filter_check').prop("checked", false);
        $('.wofilter').hide(100);
    });
    $('#Export').change(function () {
        $('input[type="submit"]').click();
    })
</script>