@model Pagination<List<ChildWo>>
    @if (Model != null && Model.Payload != null && Model.Payload.Any())
    { 
    <table class="table table-striped wordorderdetail table_container table-responsive-lg">


        <thead>
            <tr>
                <th>
                    WO#
                </th>
                <th>
                    Description
                </th>
                <th>
                    Assigned To
                </th>
                <th>
                    Property
                </th>
                <th>
                    Due Date
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Payload)
            {
                <tr>
                    <td>
                        <span><strong class="green">@item.Id</strong></span>
                    </td>

                    <td><span class="value" style="min-width:100px;text-align:center">@item.Description</span></td>
                    <td><span class="text-success"><strong>@item.AssignedTo</strong></span></td>
                    <td>
                        <span class="text-dark">
                            @if (item.Property != null)
                            {@item.Property.PropertyName}
                        </span>
                    </td>
                    <td>@item.DueDate</td>
                    <td style="min-width:180px;">
                        <div class="form-inline">
                            @{
                                Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
                                keyValuePairs.Add("id", item.Id + "");
                                if (!item.Status.ToLower().Equals("complete"))
                                {
                                <auth-link bclass="btn btn-sm btn-primary mr-1" feature=@MenuEnum.Edit_WO routedata=@keyValuePairs action="EditWOView" controller="WorkOrder" content='<i class="fa fa-pencil-alt"></i>&nbsp;Edit'></auth-link>
                                }
                                <auth-link bclass="btn btn-sm btn-info" feature=@MenuEnum.GetWO_Detail routedata=@keyValuePairs action="GetWODetail" controller="WorkOrder" content='<i class="fa fa-info"></i>&nbsp;Detail'></auth-link>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
   
    <hr />
    <nav>
        <ul class="pagination">
            @{ int prev = Model.CurrentPage - 1;}
            <li class="page-item @if (Model.CurrentPage == 0)
                {<text>disabled</text> }">
                <a class="page-link" onclick="GetPage('@prev');">Prev</a>
            </li>

            @for (int i = 0; i < Model.PageCount; i++)
            {

                if (Model.CurrentPage == i)
                {
                    <li class="page-item active" >
                        <a class="page-link"  >@(i + 1) <span class="sr-only">(current)</span></a>
                    </li>

                }
                else
                {
                    var x = i + 1;
                    <li class="page-item">
                        <a class="page-link" onclick="GetPage('@i');" >@x</a>

                    </li>
                }
            }
            @{ var PageNumber = Model.CurrentPage + 1;}
            <li class="page-item @if (Model.CurrentPage + 1 == Model.PageCount)
                    {<text>disabled</text> }">
                <a class="page-link"  onclick="GetPage('@PageNumber');">Next</a>
            </li>
        </ul>
    </nav>
    }
    else
    {
    <span>No Record found</span>
    }
    @if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
    {
        var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

        <script>
        alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
        </script>
    }
    

<script>
    var workorderId = '@Model.Payload[0].ParentId';
    function GetPage(pagenumber) {
            $.get('@Url.Action("GetChildWO","WorkOrder")' + '?rwoId=' + workorderId + '&search=&pageNumber='+pagenumber,
                function (data) {
                    if (data != null || data != undefined) {
                        $('#ChildWOSection').html(data);
                    }
                });
    }


</script>