@model Pagination<List<RecurringWOs>>
<div>
<a class="btn btn-success mb-1" value="CreateWorkOrderRecurring" asp-action="CreateWorkOrderRecurringView"><i class="fa fa-plus"></i>&nbsp;Recurring WO</a>
</div>

<div class="workordertitle">
    Recurring Work Orders
</div>


@if (Model != null && Model.Payload != null && Model.Payload.Any())
{
    <table class="table table-striped wordorderdetail table_container table-responsive-lg">

        <tbody>
            @{ int inc = 1;}
            @foreach (var item in Model.Payload)
            {
            <tr>
                <td>
                    <span><strong class="green">RWO @inc</strong></span>
                </td>

                @{ inc++;}
                <td><span style="word-break:normal">@item.Description</span></td>
                <td>Assigned to&nbsp;<span class="text-success"><strong>@item.AssignedTo</strong></span></td>
                <td>
                    <span class="text-dark">
                        @if (item.Property != null)
                        {@item.Property.PropertyName}
                    </span>
                </td>
                <td>@item.DueDate</td>
                <td>
                    <span><strong>@item.ScheduleAt</strong></span>
                </td>
                <td style="min-width:200px;">
                    @{
                        Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
                        keyValuePairs.Add("id", item.Id + "");

                        <auth-link bclass="btn btn-sm btn-primary" feature=@MenuEnum.Recurring_WO routedata=@keyValuePairs action="EditRecurringWOView" controller="WorkOrder" content='<i class="fa fa-pencil-alt"></i>&nbsp;Edit'></auth-link>
                        <a class="btn btn-sm btn-primary" asp-action="GetChildWO" asp-route-rwoId="@item.Id">Get Child WOs</a>
                        <a class="btn btn-sm btn-primary" asp-action="GetWODetail" asp-route-id="@item.Id" asp-route-type="2">Detail</a>
                    }
                </td>

            </tr>
            }
        </tbody>

    </table>
    <hr />
    <nav>
        <ul class="pagination">
            @{ int prev = Model.CurrentPage - 1;}
            <li class="page-item @if (Model.CurrentPage == 0)
                {<text>disabled</text> }">
                <a class="page-link" asp-action="GetRecurringWO" asp-controller="WorkOrder" asp-route-pageNumber='@prev'>Prev</a>
            </li>

            @for (int i = 0; i < Model.PageCount; i++)
            {

                if (Model.CurrentPage == i)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-action="Index">@(i + 1) <span class="sr-only">(current)</span></a>
                    </li>

                }
                else
                {
                    var x = i + 1;
                    <li class="page-item">
                        <a class="page-link" asp-action="GetRecurringWO" asp-controller="WorkOrder" asp-route-pageNumber='@x'>@x</a>

                    </li>
                }
            }
            @{ var PageNumber = Model.CurrentPage + 1;}
            <li class="page-item @if (Model.CurrentPage + 1 == Model.PageCount)
                    {<text>disabled</text> }">
                <a class="page-link" asp-action="GetRecurringWO" asp-controller="WorkOrder" asp-route-pageNumber='@PageNumber'>Next</a>
            </li>
        </ul>
    </nav>
}
else
{
    <span>No Record found</span>
}

@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

    <script>
        alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
    </script>
}

