@model Pagination<List<WorkOrderAssigned>>
<form class="form">
    <div class="input-group">
        <div class="cont">
            <input type="radio" @if (ViewBag.filter == FilterEnumWO.ByAssigned) { <text> checked</text>} id="assigned" name="Filter" value='@FilterEnumWO.ByAssigned' class="selector1" required>
            <label class="label1" for="assigned">@FilterEnumWO.ByAssigned</label>
        </div>
        <div class="cont">
            <input type="radio" @if (ViewBag.filter == FilterEnumWO.ByDate) { <text> checked</text>} id="date" name="Filter" value=@FilterEnumWO.ByDate class="selector2" required>
            <label class="label2" for="date">@FilterEnumWO.ByDate</label>
        </div>
        <div class="cont">
            <input type="radio" @if (ViewBag.filter == FilterEnumWO.ByStatus) { <text> checked</text>} id="status" name="Filter" value=@FilterEnumWO.ByStatus class="selector2" required>
            <label class="label2" for="status">@FilterEnumWO.ByStatus</label>
        </div>
        <input class="form-control form-control-sm" style="display:@if (ViewBag.filter == FilterEnumWO.ByStatus) {<text>none;</text> }" value='@ViewBag.searchString' name="matchString" autocomplete="off" id="search" type="@if (ViewBag.filter == FilterEnumWO.ByDate) { <text>date</text>} else {<text>text</text> }" placeholder="Search">
        <select class="form-control form-control-sm" value=@ViewBag.stage style="display:@if (ViewBag.filter == FilterEnumWO.ByStatus)
            {<text>block;</text>}
                else { <text>none;</text>}" name="stage" id="select">
            <option value=@FilterEnumWOStage.INITWO>INITWO</option>
            <option value=@FilterEnumWOStage.WOPROG>WOPROGRESS</option>
            <option value=@FilterEnumWOStage.WOCOMP>WOCOMPLETED</option>
        </select>
        &nbsp;<input class="form-control form-control-sm" style="display:@if (ViewBag.filter==FilterEnumWO.ByDate) {<text>block</text> } else {<text>none</text> }" value='@ViewBag.enddate' name="endDate" autocomplete="off" id="endDate" type="date">
        &nbsp; &nbsp;<input class="btn btn-sm btn-outline-info" type="submit" value="Filter">
        &nbsp; &nbsp;<input class="btn btn-sm btn-outline-info clear" type="reset" value="Clear Filter">
    </div>
    <hr />
    <div class="workordertitle">
        Work Orders
    </div>

    @if (Model != null && Model.Payload != null && Model.Payload.Any())
    {
        <table class="table table-striped wordorderdetail">
            <thead>
                <tr>
                    <th scope="col" colspan="3" class="mytitle">
                        To Do List
                    </th>
                    <th scope="col" colspan="2" class="button">
                        <a class="addnewbutton btn" value="CreateWorkOrder" asp-action="CreateWorkOrder"><i class="fa fa-plus"></i>&nbsp;New</a>
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Payload)
                {
                    <tr>
                        <td>
                            <span class="workorderbutton @item.Stage" value="work order">work order</span>
                        </td>
                        <td>@item.Description</td>
                        @if (item.AssignedTo != null)
                        {
                            <td>Assigned to&nbsp;<span class="text-success"><strong>@item.AssignedTo</strong></span></td>
                        }
                        else
                        {
                            <td>Assigned to&nbsp;<span class="text-info"><strong>@item.AssignedToSection</strong></span></td>
                        }
                        <td>@item.CreatedDate</td>
                        <td>
                            @{
                                Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
                                keyValuePairs.Add("id", item.Id + "");
                                <auth-link bclass="btn btn-sm btn-outline-info" feature=@MenuEnum.Edit_WO routedata=@keyValuePairs action="EditWOView" controller="WorkOrder" content='<i class="fa fa-pencil-alt"></i>&nbsp;Edit'></auth-link>
                                <auth-link bclass="btn btn-sm btn-outline-info" feature=@MenuEnum.GetWO_Detail routedata=@keyValuePairs action="GetWODetail" controller="WorkOrder" content='<i class="fa fa-info"></i>&nbsp;Detail'></auth-link>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="">
            <div class="d-inline-flex" style="font-size:small;">
                <span class="block initwo"></span>
                <span>&nbsp;INIT</span>
            </div>
            <div class="d-inline-flex" style="font-size:small;">
                <span class="block woprog"></span>
                <span>&nbsp; WOPROG</span>
            </div>
            <div class="d-inline-flex" style="font-size:small;">
                <span class="block wocomp"></span>
                <span>&nbsp; WOCOMP</span>
            </div>
        </div>
        <hr />
        <nav>
            <ul class="pagination">
                @{ int current = 0;}
                <li class="page-item @if (Model.CurrentPage == 0) {<text>disabled</text> }">
                    @Html.ActionLink("Prev", "Index", "WorkOrder", "", "", "", new { requestedPage = current - 1, matchString = ViewBag.searchstring, stage = ViewBag.stage, enddate = ViewBag.enddate }, new { @class = "page-link" })
                </li>

                @for (int i = 0; i < Model.PageCount; i++)
                {

                    if (Model.CurrentPage == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="Index">@(i + 1) <span class="sr-only">(current)</span></a>
                        </li>
                        current = i;
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(i + 1 + "", "Index", "WorkOrder", "", "", "", new { requestedPage = i, matchString = ViewBag.searchstring, stage = ViewBag.stage, enddate = ViewBag.enddate }, new { @class = "page-link" })
                        </li>
                    }
                }
                <li class="page-item @if (Model.CurrentPage + 1 == Model.PageCount) {<text>disabled</text> }">
                    @Html.ActionLink("Next", "Index", "WorkOrder", "", "", "", new { requestedPage = current + 1, matchString = ViewBag.searchstring, stage = ViewBag.stage, enddate = ViewBag.enddate }, new { @class = "page-link" })
                </li>
            </ul>
        </nav>
    }
    else
    {
        <span> No Record Found</span>

    }
</form>
@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

    <script>
        alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
    </script>
}

<style>
    .block {
        height: 10px;
        width: 10px;
        display: block;
    }
</style>