@model Presentation.ViewModels.WorkOrderDetail
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="workordertitle">
    Work Order Detail
</div>
@if (Model != null)
{
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    Stage Details
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">

                        <div class="row ">
                            <div class="col-md-3">
                                <label for="StageCode">Stage Code</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.StageCode)
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="StageDescription">Stage Description</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.StageDescription)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Property Details
                </th>
            </tr>
            <tr>
                <td>
                    <div class="d-md-inline-flex myview">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@Model.PropertyName</h5>

                                <p class="card-text">
                                    <address>
                                        <strong>@Model.Area</strong><br>
                                        <strong>@Model.Location</strong><br>
                                    </address>
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    WO Information
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="row ">
                            <div class="col-md-3">
                                <label asp-for="Issue"></label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Issue)
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label asp-for="Item"></label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Item)
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="Requestedby">Requested By</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Requestedby)
                            </div>
                        </div>
                        @if (Model.AssignedToUser != null)
                        {
                            <div class="row top-buffer">
                                <div class="col-md-3">
                                    <label for="AsignedTo">Assigned To User</label>
                                </div>
                                <div class="col">
                                    <span class="wocomp">@Model.AssignedToUser</span>
                                </div>
                            </div>
                        }
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="CreatedTime">Created Time</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.CreatedTime)
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="Comments">Description</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Description)
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="Comments">Comments</label>
                            </div>
                            <div class="col">
                                <a asp-action="GetComment" asp-route-Id=@Model.Id class="btn btn-sm btn-outline-primary comment"><i class="fa fa-comment-alt"></i>&nbsp;Comments</a>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label asp-for="Attachment"></label>
                            </div>
                            <div class="col">
                                <a href="@Model.Attachment" download="random">Click to View File</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Updated Infomation
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="row ">
                            <div class="col-md-3">
                                <label for="UpdatedBy">Last Updated By</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.UpdatedBy)
                            </div>
                        </div>
                        <div class="row top-buffer ">
                            <div class="col-md-3">
                                <label for="UpdatedTime">Last Update Time</label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.UpdatedTime)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Assigned Info
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="row ">
                            <div class="col-md-3">
                                <label asp-for="Department"></label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Department)
                            </div>
                        </div>
                        <div class="row top-buffer ">
                            <div class="col-md-3">
                                <label asp-for="Section"></label>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(x => x.Section)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Operation
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="row ">
                            <div class="col-md-3">
                                <label for="Stage">Stage Change</label>
                            </div>
                            <div class="col">
                                @{
                                    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
                                    keyValuePairs.Add("workorderId", Model.Id + "");
                                    keyValuePairs.Add("process", ProcessEnumWOStage.TrackIn.ToString());
                                    <auth-link bclass="btn btn-sm btn-outline-info" feature="@MenuEnum.WO_Operation" routedata=@keyValuePairs action="WorkOrderOperation" controller="WorkOrder" content='<i class="fa fa-info"></i>&nbsp;Track In'></auth-link>
                                    keyValuePairs["process"] = ProcessEnumWOStage.TrackOut.ToString();
                                    <auth-link bclass="btn btn-sm btn-outline-info" feature="@MenuEnum.WO_Operation" routedata=@keyValuePairs action="WorkOrderOperation" controller="WorkOrder" content='<i class="fa fa-info"></i>&nbsp;Track Out'></auth-link>
                                }
                            </div>
                        </div>
                        <div class="row top-buffer ">
                            <div class="col-md-3">
                                <label>Assign to user</label>
                            </div>
                            <div class="col">
                                <form asp-action="AssignToUser" class="form-inline">
                                    <input name="workOrderId" hidden value="@Model.Id">
                                    <select name="userId" class="form-control form-control-sm custom-input" asp-items="@(new SelectList(Model.Users, "Id", "PropertyName"))" required>
                                        <option value="">Please select one</option>
                                    </select>
                                    &nbsp;<button class="btn btn-sm btn-primary" type="submit">Assign</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Edit", "EditWOView", new { id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>

}

<style>
    .myview .card {
        width: 200px;
        margin: 5px;
    }

    .imagethumbnail {
        border: 1px solid grey;
        padding: 4px;
        border-radius: 50%;
    }
</style>

@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

    <script>
     alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
    </script>
}