@model FeatureView
<form asp-action="UpdateFeature" id="updatefeat">
    @if (Model != null)
    {
        foreach (var item in Model.Features)
        {
    <div class="row">
        <div class="col-md-4">
            @item.PropertyName
        </div>
        <div class="col-md-2">
            @{ var varclass = "toggle-label false" + item.Id; var varclass1 = "toggle-label true" + item.Id;}
            <label class='@varclass1' style="color:red" value="@item.Id" name=@item.Id @if (item.Selected == "true") { <text> hidden</text>} for=@item.Id><i class="fas fa-toggle-off fa-1x"></i></label>
            <label class='@varclass' style="color:blue" value="@item.Id" name=@item.Id @if (item.Selected == "false") { <text> hidden</text>} for=@item.Id><i class="fas fa-toggle-on fa-1x"></i></label>
            <input class="toggle" type="checkbox" value=@item.Id asp-for="@item.Selected" id="@item.Id" name="@Model.Roleid" />
        </div>
    </div>
        }
    }
    <hr />

    <input class="btn btn-sm btn-primary submit " type="submit">
</form>

<style>
    .toggle {
        position: relative;
        
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle-label {
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
</style>
<script>
   
</script>