@model Presentation.ViewModels.EditUser

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div>
    <div class="table_container">
        <div class="workordertitle">
            Edit User
        </div>
        @if (Model != null)
        {
        <form asp-action="EditUser" asp-controller="User" class="edituser">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <label asp-for="Title"></label>
                                    </div>
                                    <div class="col">
                                        <select class="form-control form-control-sm custom-input" asp-for="Title">
                                            <option value="">Please select one</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                        </select>
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="FirstName">First Name</label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="FirstName" class="form-control-sm custom-input">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="LastName">Last Name</label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="LastName" class="form-control-sm custom-input">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Suffix"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Suffix" class="form-control-sm custom-input">
                                        <span asp-validation-for="Suffix" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <label asp-for="Role"> </label>
                                    </div>
                                    <div class="col">
                                        @if (Model.Roles != null)
                                        {
                                            <select class="form-control form-control-sm custom-input" asp-for="Role" asp-items="@(new SelectList(Model.Roles, "PropertyName", "PropertyName"))">
                                                <option value="">Please select one</option>
                                            </select>
                                            <span asp-validation-for="Role" class="text-danger"></span>
                                        }
                                        </div>
                                </div>
                                <div class="row top-buffer mainprop">
                                    <div class="col-md-3">
                                        <label for="SelectedProperty">Main Property</label>
                                    </div>
                                    <div class="col">

                                        @if (Model.Properties!=null && Model.Properties.Any())
                                        {
                                            <input type="text" value="@if (Model.SelectedProperty.Any())
                                            { <text>@string.Join(",", Model.SelectedProperty)</text> }" disabled class="form-control form-control-sm custom-input select-input" placeholder="select item">
                                            <select class="custom-input select-mul" asp-for="SelectedProperty" asp-items="@(new SelectList(Model.Properties, "PropertyName", "PropertyName"))" multiple="multiple">
                                                <option value="">Select Option</option>
                                            </select>
                                        }
                                        <span asp-validation-for="SelectedProperty" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="TimeZone">Time Zone</label>
                                    </div>
                                    <div class="col">
                                        @if (Model.TimeZones != null)
                                        {
                                            <select class="form-control form-control-sm custom-input" asp-for="TimeZone" asp-items="@(new SelectList(Model.TimeZones, "PropertyName", "PropertyName"))">
                                                <option value="">Please select one</option>
                                            </select>
                                            <span asp-validation-for="TimeZones" class="text-danger"></span>
                                        }
                                        </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="ClockType">Clock Type</label>
                                    </div>
                                    <div class="col">
                                        <input type="radio" asp-for="ClockType" name="ClockType" id="12" value="12" />
                                        <label for="12">12 hour</label>
                                        <input type="radio" asp-for="ClockType" name="ClockType" id="24" value="24">
                                        <label for="24">24 hour</label>
                                        <span asp-validation-for="ClockType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label asp-for="Email"> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Email" class="form-control-sm custom-input">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="PhoneNumber">Phone Number</label>
                                    </div>
                                    <div class="col">
                                        @if (Model.CountryCodes!=null && Model.CountryCodes.Any())
                                        {
                                        <select class="form-control-sm custom-input" asp-for="CountryCode" asp-items="@(new SelectList(Model.CountryCodes, "Id", "PropertyName"))">
                                            <option value="">Country Code</option>
                                        </select>
                                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                                        }
                                    </div>
                                    <div class="col">
                                        <input asp-for="PhoneNumber" class="form-control-sm custom-input" placeholder="Phone Number">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="SMSAlert">SMS Alert</label>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="SMSAlert" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">standard message rates may apply</label>
                                        </div>

                                        <span asp-validation-for="SMSAlert" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Language"> </label>
                                    </div>
                                    <div class="col">
                                        @if (Model.Languages!=null && Model.Languages.Any())
                                        {
                                            <select class="form-control form-control-sm custom-input" asp-for="Language" asp-items="@(new SelectList(Model.Languages, "Id", "PropertyName"))">
                                                <option value="">Please select one</option>
                                            </select>
                                            <span asp-validation-for="Language" class="text-danger"></span>
                                        }
                                        </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="OfficeExt">Office Extension</label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="OfficeExt" class="form-control-sm custom-input">
                                        <span asp-validation-for="OfficeExt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Photo</label>
                                    </div>
                                    <div class="col">
                                        <div class="cont">
                                            <label class="browsebutton">Browse</label>
                                            <input accept="image/*" data-toggle="tooltip"  asp-for="Photo" class="form-control-sm custom-input Photo">

                                        </div>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="UserName ">User Name</label>
                                    </div>
                                    <div class="col">
                                        <input asp-for='UserName'  class="form-control-sm custom-input">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label asp-for="Password "> </label>
                                    </div>
                                    <div class="col">
                                        <input asp-for='Password' value="" class="form-control-sm custom-input">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row top-buffer">
                                    <div class="col-md-3">
                                        <label for="ConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col">
                                        <input asp-for='ConfirmPassword' value="" class="form-control-sm custom-input">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <button type="submit" class="btn btn-sm btn-outline-primary submit"><span>Update User</span>&nbsp;<i class="fa fa-spinner fa-1x fa-spin" hidden aria-hidden="true"></i></button>
            <input asp-for="Id" hidden> 

        </form>
        }
    </div>

</div>


<div>
    <a asp-action="GetAllUsers">Back</a>
</div>

<script>
    $('.edituser').submit(function (e) {
        e.preventDefault();
        var url = $(this).attr('action');
        var form = $(this).serialize();
        var formData = new FormData(this);
        if ($(this).valid()) {
            $('.fa-spinner').prop("hidden",false);
            RESTCALL(url, formData, 'POST', false, false, function (res) {
                $('.fa-spinner').prop("hidden",true);
                alertify.alert('Info', '<p>' + res + '</p>', function () {
                    location.reload();
                });
            }, function (res) {
                      $('.fa-spinner').prop("hidden",true);
                    alertify.alert('Error', '<p>' + res.responseText + '</p>', function () {
                        $(this).find("input[type=password]").val("");
                });
            }, "", "multipart/form-data");
           
        }
    });
   
   
    
</script>

