@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 5px;
        top: 40px;
    }

        .flex-container .menu {
            flex: 1 1;
            border: 0px;
            text-align: center;
            margin-right: 15px;
            margin-bottom: 10px;
        }

    .item {
        display: grid;
        text-align: center;
    }

    .mwrapper {
        display: block;
        width: 100%;
        padding: 5%;
        margin-top: 10%;
    }
</style>
<header>
    <nav class="navbar navbar-dark bg-success border-bottom box-shadow mb-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand justify-content-center" asp-controller="WorkOrder" asp-action="Index">My Property</a>
            <ul class="navbar-nav justify-content-end" style="flex-direction:row;">

                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                {
                <li class="nav-item active">
                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="LogOut"><u>Logout</u></a>
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index"><i class="fa fa-sign-in-alt fa-1x"></i></a>
                </li>
                }
            </ul>
        </div>
    </nav>
</header>
<div class="mwrapper">
    <div class="row">
        <div class="col">
            <div class="menu">
                <a href="@Url.Action("CreateWorkOrderView", "WorkOrder")">
                    <div class="item">
                        <span><i class="fa fa-plus-circle fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family: Georgia, 'Times New Roman', Times, serif; color: grey">Create WO</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="menu">
                <a href="@Url.Action("Index", "WorkOrder")">
                    <div class="item">
                        <span><i class="fa fa-list-alt fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family: Georgia, 'Times New Roman', Times, serif; color: grey">Active WO</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="menu">
                <a href="@Url.Action("GetAllUsers", "User")">
                    <div class="item">
                        <span><i class="fa fa-user fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">User</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">

            <div class="menu">
                <a href="@Url.Action("Index", "Configuration")">
                    <div class="item">
                        <span><i class="fa fa-cogs fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Setting</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="menu">
                <a href="@Url.Action("ListProperties", "Property")">
                    <div class="item">
                        <span><i class="fa fa-home fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Property</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">

            <div class="menu">
                <a href="@Url.Action("GetCompletedWO", "WorkOrder")">
                    <div class="item">
                        <span><i class="fa fa-check-double fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Completed WO</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col">

            @{ var userId = HttpContextAccessor.HttpContext.User.Claims.Where(x => x.Type == ClaimTypes.Sid).Select(x => x.Value).FirstOrDefault();
                var obj = ObjectByteConverter.Deserialize<SessionStore>
                    (await sessionStorage.GetAsync(userId));
            }
            @if (obj.MenuList.Contains(MenuEnum.Recurring_WO.ToString()))
            {
                <div class="menu">
                    <a href="@Url.Action("GetRecurringWO","WorkOrder")">
                        <div class="item">
                            <span><i class="fa fa-hourglass-half fa-7x" aria-hidden="true"></i></span>
                            <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Recurring WO</span>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="col">

            <div class="menu">
                <a href="@Url.Action("GetAllNotification","Home")">
                    <div class="item">
                        <div class="notifiaction-cont">
                            <span><i class="fa fa-bell fa-7x" aria-hidden="true"></i></span>
                            <span id="notification_count" style="color:red;position:absolute;font-size:1.2em;"></span>
                        </div>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Notification</span>
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="menu">
                <a href="@Url.Action("GetAllWos", "WorkOrder")">
                    <div class="item">
                        <span><i class="fa fa-search fa-7x" aria-hidden="true"></i></span>
                        <span style="font-family:Georgia, 'Times New Roman', Times, serif; color:grey">Search WO</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            @{ var id = HttpContextAccessor.HttpContext.User.Claims.Where(x => x.Type == ClaimTypes.Sid).Select(x => x.Value).FirstOrDefault();

                var path = HttpContextAccessor.HttpContext.User.Claims.Where(x => x.Type == "imageurl").Select(x => x.Value).FirstOrDefault();
            }
            @if (id != "")
            {
                <div class="menu">
                    <div class="item">

                        <a href="@Url.Action("UserDetailView", "User", new { Id =id })"><img src='@if (string.IsNullOrEmpty(path)) { <text>/NA.jpg</text>} else { <text>@path</text> }' width="100" height="100" alt="Pet Image" class="avtaar" /></a>

                    </div>
                </div>

            }
        </div>
    </div>

   
   
    
</div>

<script>
    $('#notification_count').ready(function () {
            $.get("@Url.Action("GetNotificationCount","Home")", function (data) {
            $("#notification_count").html('<strong>'+data+'</strong>');
            })
    })

</script>

<style>
    .row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  
}

</style>