@model Presentation.ViewModels.UserDetail
@{
       ViewData["Title"] = "User Detail View";
       Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <nav class="navbar bg-success mb-3 fixed-top">
        <div class="d-inline-flex w-100">
            <a style="color:white;margin-top: 9px;" href="javascript:history.back()"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
            <div class="container-block justify-content-center">
                <span class="nav-link justify-content-end" style="color:white;font-size:1.5em;">User Detail</span>
            </div>
        </div>
    </nav>
</header>
<div class="mform" style="padding-left:5px;padding-right:5px;">
    <hr>
    @if (Model != null)
    {
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    Basic Details
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">

                        <div class="row ">
                            <div class="col-md-3">
                                <label for="FullName">Full Name</label>
                            </div>
                            <div class="col">
                                <span class="value">  @Html.DisplayFor(x => x.FullName)</span>
</div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="EmailAddress">Email Address</label>
                            </div>
                            <div class="col">
                                <span class="value"> @Html.DisplayFor(x => x.EmailAddress)</span>
</div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label asp-for="PhoneNumber"></label>
                            </div>
                            <div class="col">
                                <span class="value">  @Html.DisplayFor(x => x.PhoneNumber)</span>
</div>
                        </div>
                        
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="OfficeExtension">Office Extension</label>
                            </div>
                            <div class="col">
                                @if (Model.OfficeExtension != null)
                                    {
                                <span class="value">
                                    @Html.DisplayFor(x => x.OfficeExtension)</span>
                                                                }
                                                                else
                                                                {
                                                                <span>NA</span>
                                                                }
</div>
                        </div>
                        @if (Model.PhotoPath != null)
                            {
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="photo">Photo</label>
                            </div>
                            <div class="photo_disp" style="display:block">
                                <span class="OpenImageDisplayModal">  <img id="zoom-img" data-original="@Model.PhotoPath"  src='@if (string.IsNullOrEmpty(Model.PhotoPath)) { <text>/NA.jpg</text>} else { <text>@Regex.Replace(Model.PhotoPath,"(.jpg)",".png")</text> }' width="200" height="150" alt="Pet Image" /></span>
</div>
                        </div>
                            }
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Properties Assigned
                </th>
            </tr>
            <tr>
                <td>
                    <div class="d-md-inline-flex myview">
                        @if (Model.ListProperties != null)
                            {
                                foreach (var item in Model.ListProperties)
                                {

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.PropertyName</h5>
                                @if (@item.IsPrimary)
                                            {
                                <h6 class="card-title text-success">Primary</h6>
                                            }
                                <p class="card-text">
                                    <address>
                                        <strong>@item.PropertyType</strong><br>
                                        @item.StreetAddress1<br>
                                        @item.StreetAddress2<br>
                                        @item.State,@item.City<br>
                                        @item.ZipCode, @item.Country<br>
                                    </address>
                                </p>
                            </div>
                        </div>

                                }
                            }
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    Access Information
                </th>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="row ">
                            <div class="col-md-3">
                                <label for="Roles">Role Assigned</label>
                            </div>
                            <div class="col">
                                @if (Model.Roles != null)
                                {
                                    foreach (var item in Model.Roles)
                                    {

                                        <div class="d-inline-flex">
                                            <span class="btn bg-primary"> @item</span>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label asp-for="Department"></label>
                            </div>
                            <div class="col">
                                <span class="value">@Html.DisplayFor(x => x.Department)</span>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label asp-for="IsEffortVisible">Allow Recording Hours</label>
                            </div>
                            <div class="col">
                                <span class="value">@Html.DisplayFor(x => x.IsEffortVisible)</span>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <label for="TimeZone">Time Zone</label>
                            </div> 
                            <div class="col">
                                <form asp-action="ChangeTZ" asp-controller="User" id="adduser">
                                    <select class="form-control form-control-sm custom-input" asp-for="TimeZone" asp-items="@(new SelectList(Model.TimeZones, "Id", "PropertyName"))">
                                        <option value="">TimeZone</option>
                                    </select>
                                    <input asp-for="Id" hidden/>
                                    <input type="submit" class="btn btn-success" value="Change">
                                </form>
                            </div>
                        </div>
                        <div class=" row top-buffer">
                                    <div class="col-md-3">
                                        <label for="SMSAlert">SMS Alert</label>
                                    </div>
                                    <div class="col">
                                        <span class="value">@Html.DisplayFor(x => x.SMSAlert)</span>
                                    </div>
                            </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    }
</div>

<style>
    .myview .card {
        width: 200px;
        margin: 5px;
    }

    .imagethumbnail {
        border: 1px solid grey;
        padding: 4px;
        border-radius: 50%;
    }
</style>

@if (TempData.ContainsKey("Error") || TempData.ContainsKey("Success"))
{
    var key = TempData.ContainsKey("Error") ? "Error" : TempData.ContainsKey("Success") ? "Success" : "Info";

<script>
     alertify.alert('@key', '<p>@TempData[key]</p>', function () { });
</script>
}